h1{
    text-align: center;
}

#pagina{
    display: flex;
    flex-direction: row;

    justify-content: center;
}

#esquerda{
    border-color: black;
    border-style: solid;

    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:40vw;
    height:80vh;
}

#direita{
    border-color: black;
    border-style: solid;

    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:40vw;
    height:80vh;
}

#resultadoBusca{
    border-color: black;
    border-style: solid;

    margin: 15px;

    width:90%;
    height:80%;

}

#busca{
    background-color: rgb(216, 233, 255);

    font-size: 20px;

    margin: 10px;
    padding: 20px;

    width: 90%;
    height: 10%
}

#disciplinas {
    display: flex;
    flex-direction: column;
}

#disciplinas > li {
    list-style-type: none;
    border-top: 1px solid black;
    margin-bottom: 12px;
}