/* Cores oficiais da UERJ */
.bg-uerj-azul-escuro {
  background-color: #016ba5;
  color: white;
}

.bg-uerj-azul-claro {
  background-color: #0080c6;
  color: white;
}

.bg-uerj-laranja {
  background-color: #f37032;
  color: white;
}

/* Botão primário personalizado */
.btn-primary {
  background-color: #f37032;
  border-color: #f37032;
}

.btn-primary:hover {
  background-color: #e05d1f;
  border-color: #e05d1f;
}

.btn-primary:focus {
  background-color: #e05d1f;
  border-color: #e05d1f;
}

.btn-secondary {
  background-color: #dfa40e;
  border-color: #dfa40e;
}

.btn-secondary:hover {
  background-color: #b38208;
  border-color: #b38208;
}

.btn-secondary:focus {
  background-color: #b38208;
  border-color: #b38208;
}

.text-uerj-amarelo {
  color: #bb8a0b;
}

.text-uerj-laranja {
  color: #e05d1f;
}

.bi-emoji-surprise {
  width: 6px;
  height: 6px;
}

.destaque-busca {
  box-shadow: 0 0 0 2px #ffab00;
  position: relative;
}

.destaque-busca::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 4px solid #ffab00;
  border-radius: 4px;
  pointer-events: none;
}