/* Cores oficiais da UERJ */
.bg-uerj-azul-escuro {
  background-color: #016ba5;
  color: white;
}
.bg-uerj-azul-claro {
  background-color: #0080c6;
  color: white;
}
.bg-uerj-laranja {
  background-color: #f37032;
  color: white;
}

/* Botão primário personalizado */
.btn-primary {
  background-color: #f37032;
  border-color: #f37032;
}
.btn-primary:hover {
  background-color: #e05d1f;
  border-color: #e05d1f;
}

.btn-primary:focus {
  background-color: #e05d1f;
  border-color: #e05d1f;
}

.btn-secondary {
  background-color: #dfa40e;
  border-color: #dfa40e;
}
.btn-secondary:hover {
  background-color: #b38208;
  border-color: #b38208;
}

.btn-secondary:focus {
  background-color: #b38208;
  border-color: #b38208;
}

.text-uerj-amarelo {
  color: #bb8a0b;
}

.text-uerj-laranja {
  color: #e05d1f;
}

.bi-emoji-surprise {
  width: 6px;
  height: 6px;
}
