:root {
    --cor-primaria: #016ba5;
    --cor-secundaria: #0080c6;
    --cor-terciaria: #bf9000;
    --fundo-pagina: #ffffff;
    --texto-sobre-fundo-escuro: #ffffff;
    --texto-em-destaque: #df7026;
    --texto-link: #337ab7;
    --paragrafo: #333333;
    --placeholder: #85888b;
    --outro: #f37032;
    --button-hover: deepskyblue;
    --texto-on-button-hover: #ffffff;
    --fundo-item: #f6f4f2;
    --font-size-titulo: 6vh;
    --font-titulo: 'Roboto Condensed', sans-serif;
}

h1{ 
    word-break: keep-all;
    color: var(--cor-primaria);
    font-family: var(--font-titulo);
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--cor-primaria);
}

a:hover {
    color: var(--cor-terciaria);
}

#pagina{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#esquerda{
    position: relative;

    border-color: var(--cor-primaria);
    border-style: solid;
    border-radius: 15px;

    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width:40vw;
    height:80vh;
}

#direita{
    border-color: var(--cor-primaria);
    border-style: solid;
    border-radius: 15px;

    margin: 20px;

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: right;

    width:40vw;
    height:80vh;
}

#resultadoBusca{
    border-color: black;
    /* border-style: solid; */

    margin: 15px;

    width:90%;
    height:80%;
    overflow: scroll;
    overflow-x: hidden;
    
}

#busca{
    background-color: rgb(216, 233, 255);

    font-size: 20px;

    margin: 10px;
    padding: 20px;

    width: 90%;
    height: 10%
}

#disciplinas {
    display: flex;
    flex-direction: column;
}

#disciplinas > li {
    list-style-type: none;
    border-top: 1px solid black;
    margin-bottom: 12px;
}

#sugestoes{
    position: absolute;

    display: none;

    border-radius: 10px;

    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;

    transform: translate(0,90px);

    padding: 10px;
    width: 85%;

    background-color: rgb(230, 230, 230);
}

.linhaHistorico{
    display:flex;
    flex-direction: row;
}

.itemHistorico{
    color: cornflowerblue;
    font-weight: bold;

    display: none;

    text-align: left;

    padding: 10px;
    padding-left: 15px;

    border: none;
    border-style: none;

    width: 100%;

    background-color: rgb(230, 230, 230);
}

.itemSugestao{
    display: none;

    text-align: left;

    padding: 10px;
    padding-left: 15px;
    
    border: none;
    border-style: none;

    width: 100%;

    background-color: rgb(230, 230, 230);
}

.itemLista{
    padding : 15px;

    background-color: white;
    border: none;

    border-bottom: solid;
    border-color: var(--cor-terciaria);
    border-width: 1px;

    text-align: left;
}

.disciplinaDetalhada{
    padding-left: 15px;
    padding-bottom: 20px;
    
    margin-top: 2vh;

    border-bottom: solid;
    border-color: black;
    border-width: 1px;

    div {
        padding-top: 2vh;
    }
}

.itemSugestao:hover{
    background-color:  rgb(209, 209, 209);
}

.itemHistorico:hover{
    background-color:  rgb(209, 209, 209);
}



input{
    border: solid 2px var(--cor-primaria);
    padding: 15px;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
}

input::placeholder {
    color: var(--placeholder);
}

.itemLista{
    display: flex;
    background-color: var(--fundo-item);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    gap: 20px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        > img {
            width: 100%;
            height: auto;
        }
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
        text-align: center;   
    }
}

.itemLista:hover{
    background-color:  rgb(209, 209, 209);
}

.itemLista:active {
    background-color: var(--cor-secundaria);
    color: var(--texto-sobre-fundo-escuro);
}