@import '../style/styles.css';

*{
    font-family: var(--fonte-primaria);
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
}

.table td .form-control {
    margin-left: auto;
    margin-right: auto;
}

.table > tbody > tr > td > input{
    width: 4rem;
    min-width: 3rem;
}

.table > tbody > tr > td > input[value]{
    text-align: right;
}

@media (max-width: 600px){
    .btn-tabela{
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
    }
}

#popup-conteiner{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    width: 33vw;
}

#popup-message-list{
    color: white;
}

#caixa-de-tempos-faltosos{
    background-color: white;
    visibility: hidden;
}

#caixa-de-tempos-faltosos > input{
    width: 4rem;
    min-width: 3rem;
}
